
input{
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 15px;

}

h1,p{
    text-align: center;
    margin-top: 40px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}